<h1><%= @surgery.title %></h1>
<h2><%= @surgery.room_number %></h2>

<section id="weekday">
<h2>Other surgeries happening this day of the week:</h2>
  <% @surgery.same_day_surgeries.each do |surgery| %>
    <%= surgery.title %>
  <% end %>
</section>
<h3>Newly added doctors:<%= @last_doctor %></h3> 

<%= form_tag "/surgeries/#{@surgery.id}" do %>
<h1>Add a Doctor</h1>
<%= label_tag :name %>
<%= text_field_tag :name %>
<% hidden_field_tag :surgery_id, @surgery.id %>
<%= submit_tag 'Submit' %>
<% end %>
